@media (max-width: 991px) {
    .menu_active {
        font-weight: bold;
        border-bottom: 1px solid #565387;
    }

    #header .animated {
        animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }
}

.menu_active {
    font-weight: bold;
    border-bottom: 1px solid #565387;
}

#header .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.footer_ {
    margin-top: 15em;
}